<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.chenjifff.experimenttwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.code.chenjifff.experimenttwo.FoodListActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.code.chenjifff.experimenttwo.FoodDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 推送广播的静态注册 -->
        <receiver android:name="com.code.chenjifff.experimenttwo.StaticReceiver">
            <intent-filter>
                <action android:name="com.code.chenjifff.experimentone.StaticFilter" />
            </intent-filter>
        </receiver>

        <!-- Widget广播的静态注册 -->
        <receiver android:name="com.code.chenjifff.experimenttwo.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.code.chenjifff.experimentone.StaticWidgetFilter" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
    </application>

</manifest>